<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>

<body>

<div id="root">

    <div class='nav-bar'>
        <a th:href="@{/form}">Home</a>
        <a th:href="@{/globals}">Globals</a>
    </div>

    <div class="page">

        <h2>System Usability Scale (SUS) App</h2>
        <h3>Please evaluate the system below</h3>
        <form action="#" th:action="@{/form}" method="post" th:object="${scale2}" class="table">
            <br />
            <tbody class="tbody">
            <tr>
                <td>1. I think that I would like to use this system frequently.</td>
                <td>
                    <select th:field="*{q1}" required>
<!--
                        <option th:value="9" selected disabled hidden>Choose here</option>
-->
                        <option th:value=${1}>1 - strongly disagree</option>
                        <option th:value=${2}>2</option>
                        <option th:value=${3}>3</option>
                        <option th:value=${4}>4</option>
                        <option th:value=${5}>5 - strongly agree</option>
                    </select>
                </td>
            </tr>
            <br />
            <tr>
                <td>2. I found the system unnecessarily complex.</td>
                <td>
                    <select th:field="*{q2}" required>
<!--
                        <option value="" selected disabled hidden>Choose here</option>
-->
                        <option th:value=${1}>1 - strongly disagree</option>
                        <option th:value=${2}>2</option>
                        <option th:value=${3}>3</option>
                        <option th:value=${4}>4</option>
                        <option th:value=${5}>5 - strongly agree</option>
                    </select>
                </td>
            </tr>
            <br />
            <tr>
                <td>3. I thought the system was easy to use.</td>
                <td>
                    <select th:field="*{q3}" required>
<!--
                        <option value="" selected disabled hidden>Choose here</option>
-->
                        <option th:value=${1}>1 - strongly disagree</option>
                        <option th:value=${2}>2</option>
                        <option th:value=${3}>3</option>
                        <option th:value=${4}>4</option>
                        <option th:value=${5}>5 - strongly agree</option>
                    </select>
                </td>
            </tr>
            <br />
            <tr>
                <td>4. I think that I would need the support of a technical person to be able to use this system.</td>
                <td>
                    <select th:field="*{q4}" required>
<!--
                        <option value="" selected disabled hidden>Choose here</option>
-->
                        <option th:value=${1}>1 - strongly disagree</option>
                        <option th:value=${2}>2</option>
                        <option th:value=${3}>3</option>
                        <option th:value=${4}>4</option>
                        <option th:value=${5}>5 - strongly agree</option>
                    </select>
                </td>
            </tr>
            <br />
            <tr>
                <td>5. I found the various functions in this system were well integrated.</td>
                <td>
                    <select th:field="*{q5}" required>
<!--
                        <option value="" selected disabled hidden>Choose here</option>
-->
                        <option th:value=${1}>1 - strongly disagree</option>
                        <option th:value=${2}>2</option>
                        <option th:value=${3}>3</option>
                        <option th:value=${4}>4</option>
                        <option th:value=${5}>5 - strongly agree</option>
                    </select>
                </td>
            </tr>
            <br />
            <tr>
                <td>6. I thought there was too much inconsistency in this system.</td>
                <td>
                    <select th:field="*{q6}" required>
<!--
                        <option value="" selected disabled hidden>Choose here</option>
-->
                        <option th:value=${1}>1 - strongly disagree</option>
                        <option th:value=${2}>2</option>
                        <option th:value=${3}>3</option>
                        <option th:value=${4}>4</option>
                        <option th:value=${5}>5 - strongly agree</option>
                    </select>
                </td>
            </tr>
            <br />
            <tr>
                <td>7. I would imagine that most people would learn to use this system very quickly.</td>
                <td>
                    <select th:field="*{q7}" required>
<!--
                        <option value="" selected disabled hidden>Choose here</option>
-->
                        <option th:value=${1}>1 - strongly disagree</option>
                        <option th:value=${2}>2</option>
                        <option th:value=${3}>3</option>
                        <option th:value=${4}>4</option>
                        <option th:value=${5}>5 - strongly agree</option>
                    </select>
                </td>
            </tr>
            <br />
            <tr>
                <td>8. I found the system very cumbersome to use.</td>
                <td>
                    <select th:field="*{q8}" required>
<!--
                        <option value="" selected disabled hidden>Choose here</option>
-->
                        <option th:value=${1}>1 - strongly disagree</option>
                        <option th:value=${2}>2</option>
                        <option th:value=${3}>3</option>
                        <option th:value=${4}>4</option>
                        <option th:value=${5}>5 - strongly agree</option>
                    </select>
                </td>
            </tr>
            <br />
            <tr>
                <td>9. I felt very confident using the system.</td>
                <td>
                    <select th:field="*{q9}" required>
<!--
                        <option value="" selected disabled hidden>Choose here</option>
-->
                        <option th:value=${1}>1 - strongly disagree</option>
                        <option th:value=${2}>2</option>
                        <option th:value=${3}>3</option>
                        <option th:value=${4}>4</option>
                        <option th:value=${5}>5 - strongly agree</option>
                    </select>
                </td>
            </tr>
            <br />
            <tr>
                <td>10. I needed to learn a lot of things before I could get going with this system.</td>
                <td>
                    <select th:field="*{q10}" required>
<!--
                        <option value="" selected disabled hidden>Choose here</option>
-->
                        <option th:value=${1}>1 - strongly disagree</option>
                        <option th:value=${2}>2</option>
                        <option th:value=${3}>3</option>
                        <option th:value=${4}>4</option>
                        <option th:value=${5}>5 - strongly agree</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Compute</button>
                </td>
            </tr>
            </tbody>
        </form>

    </div>
</div>
</body>

</html>
