<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
  <link th:href="@{/styles/style.css}" rel="stylesheet" />
  <meta charset="UTF-8"/>
</head>
<body>
  <div id="root">
    <div class='nav-bar'>
      <a th:href="@{/form}">Home</a>
      <a th:href="@{/globals}">Globals</a>
    </div>

    <div class="page">



      <h2>Global statistics</h2>
      <span class="table">68 is considered an average score for any given system</span>
      <table class="table">
        <thead>
          <tr>
            <th>For the current system </th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>Number of evaluations: </td>
          <td>
            <span th:text="${count}">Average</span>
          </td>
        </tr>
        <tr>
          <td>Average score: </td>
          <td>
            <span th:text="${average}">Average</span>
          </td>
        </tr>
        <tr>
          <td>Highest score: </td>
          <td>
            <span th:text="${highest}">Highest</span>
          </td>
        </tr>
        <tr>
          <td>Lowest score: </td>
          <td>
            <span th:text="${lowest}">lowest</span>
          </td>
        </tr>
        <tr>
          <td>Average score during last hour</td>
          <td>Average score during last hour</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>

