<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "css/style.css" rel = "stylesheet"/>
    <title>Spring Boot Application</title>
</head>
<body>
    <h4>Scales table</h4>
<!--
    <div th:if="${scales.size() > 0}">
-->
    <div>
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">q1</th>
                <th scope="col">q2</th>
                <th scope="col">q3</th>
                <th scope="col">q4</th>
                <th scope="col">q5</th>
                <th scope="col">q6</th>
                <th scope="col">q7</th>
                <th scope="col">q8</th>
                <th scope="col">q9</th>
                <th scope="col">q10</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="scales : ${scales}">
                <th scope="row">[[${scale.id}]]</th>
                <td>[[${scale.q1}]]</td>
                <td>[[${scale.q2}]]</td>
                <td>[[${scale.q3}]]</td>
                <td>[[${scale.q4}]]</td>
                <td>[[${scale.q5}]]</td>
                <td>[[${scale.q6}]]</td>
                <td>[[${scale.q7}]]</td>
                <td>[[${scale.q8}]]</td>
                <td>[[${scale.q9}]]</td>
                <td>[[${scale.q10}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>